target/
.bsp/
.DS_Store
.idea/
.bloop
.vscode/
.metals/

# website stuff
processed-pages/

# mill stuff
out/
.ammonite/

notebooks/

# uv virtual environment for the examples / dev.jupyter* Jupyter setup
examples/.venv/
