argon2-cffi==20.1.0
asn1crypto==1.2.0
attrs==20.2.0
backcall==0.2.0
bleach==3.3.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
colorama==0.4.3
conda==4.7.12
conda-package-handling==1.6.0
cryptography==3.3.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna==2.8
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
menuinst==1.4.16
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.4
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
pycosat==0.6.3
pycparser==2.19
Pygments==2.6.1
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pywin32==223
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.22.0
ruamel-yaml==0.15.46
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.36.1
traitlets==5.0.4
urllib3==1.24.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0